:root {
    --color: #61DAFB;
}

.navbar {
    width: 100%;
    background-color: rgb(40, 65, 91);

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: sticky;
    top: 0;

    z-index: 100;
}

.logo {
    font-size: 3.75rem;
    color: var(--color);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.navbar-title {
    color: var(--color);
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 35px;
}

.link {
    text-decoration: none;
    color: var(--color);
}

.user-logo {
    font-size: 30px;
    color: var(--color);
}

.user-logo-button {
    background: rgb(40, 65, 91);

    padding: 7px;
    border-radius: 50%;
    border: none;
}